.animate{
  transition:all .8s;
}
.opacityAnimation{
  animation:opacityAnimation 1s 1;
  -webkit-animation:opacityAnimation 1s 1;
}
@keyframes opacityAnimation{
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes opacityAnimation {
  from {opacity:0;}
  to {opacity:1;}
}
.report-ul-wrapper {
  max-height: 300px;
  overflow: hidden;
  margin-left: 20px;
}
.report-item {
  color: white;
  width: 400px;
  height: 60px;
  background: url("../../assets/report_list_bg.png") no-repeat center;
  background-size: 400px 70px;
  position: relative;
  list-style: none;
}
.li-wrapper {
  position: absolute;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
}
.report-item-order {
  margin-left: 20px;
  font-size: 16px;
  color: #00ccff;
  text-align: center;
  width: 130px;
}
.report-item-location {
  margin-left: 0;
  font-size: 16px;
  color: #22cea6;
  text-align: center;
  width: 100px;
}
.report-item-date {
  margin-left: 0;
  font-size: 16px;
  color: #fec33d;
  text-align: center;
  width: 130px;
}
