.content-container {
    width: 1850px;
    height: 950px;
    background: url("../assets/index_bg.png") no-repeat center;
    padding-top: 130px;

  .header {
    width: 1920px;
    height: 200px;
    position: absolute;
    top: 0px;
    background: url("../assets/header_bg.png") no-repeat center;
    background-size: 1920px;
  }
  .content {
    display: flex;
    .left-page {
      flex: 0 0 500px
    }
    .main-page {
      flex: 0 0 900px;
    }
    .right-page {
      flex: 0 0 500px
    }
  }

}
