.right-container {
  width: 400px;
  .left-title {
    background: url("../assets/green_bar.png");
    padding-top: 12px;
    width: 300px;
    height: 50px;
    color: white;
    text-align: left;
    margin-left: 30px;
    span {
      font-size: 24px;
      margin-left: 24px;
      line-height: 50px;
    }
  }
  .device-summary-container {
    position: relative;
    display: flex;
    justify-content: space-around ;
    padding: 30px 0 0 10px;
    background: url("../assets/wireframe_left_1.png") no-repeat center ;
    background-size: 400px 150px;
    width: 400px;
    height: 150px;
  }
  .device-global-wrapper {
    background: url("../assets/device_global.png") no-repeat center;
  }
  .device-district-wrapper {
    background: url("../assets/device_district.png") no-repeat center;
  }
  .device-online-wrapper {
    background: url("../assets/device_online.png") no-repeat center;
  }
  .device-display-wrapper {
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-top: 10px;
  }
  .display-title {
    text-align: center;
    margin-top: 45px;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  .display-numb {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 16px;
  }
  .report-list-container {
    margin-top: -50px;
    padding-top: 40px;
    height: 550px;
    background: url("../assets/wireframe_left_2.png") no-repeat left;
    background-size: 400px 550px;
  }
  .report-title {
    text-align: center;
  }
  .report-item {
    color: white;
    width: 330px;
    height: 50px;
    background: url("../assets/report_list_bg.png") no-repeat center;
    background-size: 330px;
    position: relative;
    list-style: none;
  }
  .li-wrapper {
    position: absolute;
    bottom: 0;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .report-item-order {
    margin-left: 24px;
    font-size: 16px;
    color: #00ccff;
    text-align: center;
    width: 100px;
  }
  .report-item-location {
    margin-left: 0;
    font-size: 16px;
    color: #22cea6;
    text-align: center;
    width: 80px;
  }
  .report-item-date {
    margin-left: 0;
    font-size: 16px;
    color: #fec33d;
    text-align: center;
    width: 100px;
  }
  .device-list-container {
    margin-top: -50px;
    padding-top: 20px;
    background: url("../assets/wireframe_left_3.png") no-repeat left;
    margin-right: 15px;
    height: 300px;
    background-size: 400px 300px;
  }
  .device-list-title {
    text-align: center;
  }
  .device-list-container {
    font-size: 12px;
    color: white;
    position: relative;
    ul {
      position:  absolute;
      top: 100px;
    }
  }
  .table-title {
    width: 280px;
    height: 25px;
    position: absolute;
    left: 50px;
  }


}
