.right-container {
  position: relative;
  width: 500px;
  margin-left: -40px;
}
.right-container .left-title {
  width: 500px;
  height: 50px;
  background: url("../assets/green_bar.png") no-repeat left;
  display: flex;
  align-items: center;
  color: white;
  text-align: left;
  margin-left: 30px;
}
.right-container .left-title span {
  font-size: 24px;
  margin-left: 24px;
  line-height: 50px;
}
.right-container .device-summary-container {
  display: flex;
  justify-content: center;
  background: url("../assets/wireframe_left_1.png") no-repeat right;
  background-size: 510px 180px;
  width: 510px;
  height: 150px;
  position: absolute;
  top: 20px;
  right: 5px;
}
.right-container .device-summary-wrapper {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}
.right-container .device-global-wrapper {
  background: url("../assets/device_china.png") no-repeat center;
}
.right-container .device-district-wrapper {
  background: url("../assets/device_district.png") no-repeat center;
}
.right-container .device-online-wrapper {
  background: url("../assets/device_online.png") no-repeat center;
}
.right-container .device-display-wrapper {
  height: 125px;
  width: 130px;
  background-size: 115px;
}
.right-container .display-title {
  text-align: center;
  margin-top: 60px;
  color: lightgrey;
  font-size: 12px;
  font-weight: bold;
}
.right-container .display-numb {
  margin-left: 2px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 18px;
}
.right-container .report-list-container {
  position: absolute;
  top: 160px;
  right: 12px;
  width: 503px;
  height: 440px;
  background: url("../assets/wireframe_left_2.png") no-repeat right;
  background-size: 503px 440px;
}
.right-container .report-list-container .left-title {
  margin-left: 45px;
  margin-top: 31px;
}
.right-container .report-title {
  text-align: center;
}
.right-container .report-ul-wrapper {
  max-height: 300px;
  overflow: hidden;
  margin-left: 20px;
}
.right-container .report-item {
  color: white;
  width: 400px;
  height: 50px;
  background: url("../assets/report_list_bg.png") no-repeat center;
  background-size: 400px 60px;
  position: relative;
  list-style: none;
}
.right-container .li-wrapper {
  position: absolute;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
}
.right-container .report-item-order {
  margin-left: 20px;
  font-size: 16px;
  color: #00ccff;
  text-align: center;
  width: 130px;
}
.right-container .report-item-location {
  margin-left: 0;
  font-size: 16px;
  color: #22cea6;
  text-align: center;
  width: 100px;
}
.right-container .report-item-date {
  margin-left: 0;
  font-size: 16px;
  color: #fec33d;
  text-align: center;
  width: 130px;
}
.right-container .device-list-container {
  position: absolute;
  top: 570px;
  right: -8px;
  background: url("../assets/wireframe_left_3.png") no-repeat right;
  margin-right: 15px;
  width: 508px;
  height: 370px;
  background-size: 508px 370px;
  font-size: 12px;
  color: white;
}
.right-container .device-list-container .left-title {
  margin-left: 45px;
  margin-top: 31px;
}
.right-container .device-list-title {
  text-align: center;
}
.right-container .table-wrapper {
  position: absolute;
  width: 420px;
  height: 300px;
  left: 55px;
  padding-top: 20px;
}
.right-container .table-wrapper ul {
  margin-left: -40px;
  margin-top: 0px;
}
.right-container .table-title {
  width: 420px;
  height: 30px;
  background: url("../assets/device_table_title.png") no-repeat left;
  background-size: 420px 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #00ccff;
}
.right-container .table-title div {
  text-align: center;
}
.right-container .table-title-order {
  margin-left: 30px;
  width: 65px;
}
.right-container .table-title-location {
  width: 50px;
}
.right-container .table-title-today {
  width: 70px;
}
.right-container .table-title-sevendays {
  width: 80px;
}
.right-container .table-title-recent {
  width: 80px;
}
.right-container .table-item {
  width: 420px;
  height: 30px;
  background: url("../assets/device_table_item_bg_light.png") no-repeat left;
  background-size: 420px 30px;
  display: flex;
  align-items: center;
  font-size: 10px;
}
.right-container .table-item div {
  text-align: center;
}
.right-container .table-ul {
  list-style: none;
  max-height: 300px;
  overflow: hidden;
}
.right-container .table-item-icon {
  background: url("../assets/cart.png") no-repeat center;
  background-size: 26px;
  width: 26px;
  height: 26px;
  margin-left: 5px;
}
.right-container .table-item-order {
  width: 62px;
}
.right-container .table-item-location {
  width: 50px;
}
.right-container .table-item-today {
  width: 70px;
}
.right-container .table-item-sevendays {
  width: 80px;
}
.right-container .table-item-recent {
  width: 80px;
}

/*# sourceMappingURL=rightPage.css.map */
