.timer-container {
  color: white;
  font-weight: bold;
  .first-row {
    font-size: 48px;
    text-align: center;
    width: 200px;
  }
  .second-row {
    font-size: 16px;
    color: white;
    width: 200px;
    text-align: center;
  }
}
